<footer class="rx-rodape">
  <div class="rx-rodape-content">
    <p class="rx-rodape-aviso">
      <i class="bi bi-exclamation-triangle-fill"></i>
      <span>Atenção esta ferramenta digital <strong>NÃO</strong> é um aplicativo oficial da Igreja de Jesus Cristo dos Santos dos Últimos dias.</span>
    </p>
    <p class="rx-rodape-contato">
      <i class="bi bi-whatsapp"></i>
      <span>Sugestões de aprimoramento faça contato com Eudermes Almeida - WhatsApp (37)-9-9986-2848</span>
      <span>Conformidade LGPD - Lei de proteção de dados - lei nº 13.709/2018</span>
    </p>
  </div>
</footer>
